{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container" style="margin-top: 10px">
    <div class="row">
        <div class="col-md-4">

            {% if form.errors %}
            <p>Вы ввели неправильный логин / пароль. Попробуйте еще раз</p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                <p>Вы не имеете права на эту страницу. Введите соответствующий аккаунт для входа.</p>
                {% else %}
                <p>Пожалуйста авторизуйтесь для входа.</p>
                {% endif %}
            {% endif %}

            <form method="post" id="password-change-form" action="{% url 'profiles:password_change' %}">
                {% csrf_token %}
                {% include 'layouts/bs4_form.html' with form=form %}
                <button type="submit" class="btn btn-primary">Сохранить изменения</button>
            </form>
        </div>
    </div>
</div>

{# Assumes you set up the password_reset view in your URLconf #}

{% endblock %}
{% block extra_js %}
<script src="{% static 'journal/vendor/jquery/jquery-2.2.4.min.js' %}"></script>
<script type="text/javascript">
    $('#password-change-form').submit(function (event) {
        // Your custom JavaScript logic if needed
        var oldPassword = $('#id_old_password').val();
        var newPassword = $('#id_new_password1').val();
        var confirmPassword = $('#id_new_password2').val();

        if (newPassword !== confirmPassword) {
            alert("Passwords do not match. Please check and try again.");
            event.preventDefault();  // Prevent the form from being submitted
        }
    });
</script>
{% endblock extra_js %}
