{% load static %}
<!-- Navigation -->
{#<div class="out-nav navbar-static-top">#}
{#  <ul>#}
{#    <li><img src="{% static '/journal/img/logo.png' %}"></li>#}
{#    <li class="{{ home_page }}"><a href="{% url 'subdivision:subdivision-list' %}">Главная</a></li>#}
{#    {% if request.user.is_authenticated %}#}
{#      <li class="{{ my_page }}"><a href="{% url 'subdivision:profile-subdivision' %}">Мой профиль</a></li>#}
{#      <li class="{{ my_page }}"><a href="http://srs.maek.kz/HB.html" target="_blank">Сегодня отмечают день рождения</a></li>#}
{#      <li class="{{ create_page }}"><a href="{% url 'journal:createjournalentry' %}">Заполнить журнал</a></li>#}
{#      <li><a href="{%static 'assets/outwork_instruction-2.pdf' %}#zoom=150" target="_blank">Инструкция пользователя</a></li>#}
{#    {% endif %}#}
{#    {% if request.user.is_authenticated %}#}
{#        <li style="float:right; padding-right: 20px;"><a href="{% url 'subdivision:logout' %}">Выйти</a></li>#}
{#        <li style="float:right; font-size: 16px;padding: 18px 10px; padding-right: 20px;">{{ request.user.username }}</li>#}
{#    {% endif %}#}
{#    {% if request.user.is_anonymous %}#}
{#    <li><a href="{%static 'assets/outwork_instruction-2.pdf' %}#zoom=150" target="_blank">Инструкция пользователя</a></li>#}
{#    <li style="float:right; padding-right: 20px;" ><a href="{% url 'subdivision:login' %}">Вход</a></li>#}
{#    {% endif %}#}
{#  </ul>#}
{#</div>#}
<nav class="navbar navbar-expand-lg bg-body-light out-nav navbar-static-top">
    <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="{% static '/journal/img/logo.png' %}"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <ul class="navbar-nav">
        <li class="{{ home_page }} nav-item">
          <a class="nav-link" href="{% url 'water_levels:index' %}">Главная</a>
        </li>
        <li class="{{ home_page }} nav-item">
          <a class="nav-link" href="{% url 'water_levels:upload_data' %}">Отправка данных</a>
        </li>
{#        <li class="nav-item {{ my_page }}">#}
{#          <a class="nav-link" href="{% url 'subdivision:profile-subdivision' %}">Мой профиль</a>#}
{#        </li>#}
{#        <li class="nav-item {{ my_page }}">#}
{#          <a class="nav-link"  href="http://srs.maek.kz/HB.html" target="_blank">Сегодня отмечают день рождения</a>#}
{#        </li>#}
{#          <li><a class="nav-link" href="{%static 'assets/outwork_instruction-2.pdf' %}#zoom=150" target="_blank">Инструкция пользователя</a></li>#}
      </ul>
        <ul class="navbar-nav">
            {% if request.user.is_authenticated %}
                <li><span>{{ request.user.username }}</span></li>
               <li><a href="{% url 'profiles:logout' %}">Выйти</a></li>
            {% elif request.user.is_anonymous %}
            <li><a href="{% url 'profiles:login' %}">Вход</a></li>
            {% endif %}
        </ul>

    </div>
    </div>
</nav>