{% include 'base.html' %}
{% load static %}
{% block content %}
    <style>
        .sppv-75__block{
            margin-top: 40px;
        }
        .sppv-75{
            background: #0f5132;
            color: #ffd85f;
            padding: 25px;
            font-size: 20px;
            width: 250px;
            text-align: center;
        }
        .chart_block{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .chart_block canvas{
            width: 80%;
        }
        .pipe{
            width: 30px;
            background: linear-gradient(to right, #bdbdbd, white, #bdbdbd);
            border: 1px solid;
        }
        .pipe_height{
            height: 300px;
            border-bottom: none;
        }
        .pipe_corner {
            position: relative;
            width: 60px;
            height: 60px;
        }
        .pipe_corner::after{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border: 1px solid;
            border-top: none;
            border-right: none;
            border-radius: 0% 0% 0% 100%;
            background: linear-gradient(to right, #bdbdbd, white, #bdbdbd);
        }
        .pipe_corner::before{
            content: '';
            width: 30px;
            height: 30px;
            position: absolute;
            top: 0;
            right: 0;
            border-left: 1px solid;
            border-bottom: 1px solid;
            z-index: 2;
            background: white;
            border-radius: 0% 0% 0% 100%;
        }

        .pipe_width{
            height: 30px;
            border-left: none;
            border-right: none;
            background: linear-gradient(to bottom, #bdbdbd, white, #bdbdbd);
        }
        .additional_pipe{
            position: relative;
        }
        .additional_pipe:after{
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            background: linear-gradient(to right, #bdbdbd, white, #bdbdbd);
            height: 50px;
            width: 30px;
        }

    </style>
    <div class="container">
        <div class="sppv-75__block">
            <div class="sppv-75">СППВ-75</div>
            <div class="pipe pipe_height"></div>
            <div class="row d-flex align-items-end ms-0 me-0">
                <div class="pipe_corner"></div>

                <div class="pipe pipe_width col additional_pipe"></div>
                <div class="pipe pipe_width col additional_pipe"></div>
                <div class="pipe pipe_width col additional_pipe"></div>
            </div>
        </div>
        <div class="d-flex">
            <div class="col chart_block pt-5">
                <canvas id="chart1" height="400"></canvas>
            </div>
            <div class="col chart_block">
                <canvas id="chart2" height="400"></canvas>
            </div>
            <div class="col chart_block">
                <canvas id="chart3" height="400" ></canvas>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.0.0"></script>
    <script>
        // Плагин для закругления верхушек столбиков
        const roundedBarsPlugin = {
            id: 'roundedBars',
            beforeDraw: chart => {
                const {ctx} = chart;
                ctx.save();
                chart.getDatasetMeta(0).data.forEach((bar, index) => {
                    const radius = 20;
                    const {x, y, width, height} = bar;
                    ctx.beginPath();
                    ctx.moveTo(x - width / 2, y);
                    ctx.lineTo(x - width / 2, y + height - radius);
                    ctx.quadraticCurveTo(x - width / 2, y + height, x - width / 2 + radius, y + height);
                    ctx.lineTo(x + width / 2 - radius, y + height);
                    ctx.quadraticCurveTo(x + width / 2, y + height, x + width / 2, y + height - radius);
                    ctx.lineTo(x + width / 2, y);
                    ctx.fillStyle = bar.options.backgroundColor;
                    ctx.fill();
                    ctx.stroke();
                });
                ctx.restore();
            }
        };

        Chart.register(roundedBarsPlugin);

        const createChart = (ctx, label, data, criticalLevel,criticalLevel2, consumption, pressure, volume) => {
            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [label],
                    datasets: [{
                        label: 'Уровень воды (м)',
                        data: [data],
                        backgroundColor: data < criticalLevel ? 'rgba(255, 99, 132, 0.5)' : data < criticalLevel2 ? 'rgba(255,194,7,0.5)'  : 'rgba(54, 162, 235, 0.5)',
                        borderWidth: 1,
                        borderSkipped: false,
                    }]
                },
                options: {
                    responsive: false,
                    scales: {
                        x: {
                            beginAtZero: true,
                            barPercentage: 0.5,
                        },
                        y: {
                            beginAtZero: true,
                            max: 5,
                            ticks: {
                                stepSize: 1,
                                callback: function (value, index, values) {
                                    return value + ' м'; // Метки по высоте
                                }
                            }
                        },
                        y1: {
                            position: 'left',
                            ticks: {
                                font: {
                                    size: 14,
                                },
                                color: 'black',
                                background: '#ccc',
                                backgroundColor: 'red',
                                callback: function (value, index, values, color) {
                                    var labels = [
                                    ['Уровень', data + ' м'],
                                    ['Объем воды', volume + ' м³'],
                                    ['Расход', consumption + ' м³/час'],
                                    ['Давление', pressure + ' кг/см2']
                                ];

                                // Определяем цвета и фоны для каждой метки (примеры цветов и фонов)
                                var styles = [
                                    { color: 'black', backgroundColor: 'rgba(255, 99, 132, 0.2)' }, // Уровень
                                    { color: 'blue', backgroundColor: 'rgba(54, 162, 235, 0.2)' }, // Объем воды
                                    { color: 'green', backgroundColor: 'rgba(75, 192, 192, 0.2)' }, // Расход
                                    { color: 'purple', backgroundColor: 'rgba(153, 102, 255, 0.2)' } // Давление
                                ];

                                // Возвращаем объект с текстом и стилями для метки
                                    return labels[index]
                                {#return {#}
                                {#    text: labels[index], // Объединяем массив в строку для текста метки#}
                                {#    color: styles[index].color,#}
                                {#    backgroundColor: styles[index].backgroundColor#}
                                {#};#}
                                }
                            },
                            grid: {
                                drawOnChartArea: false, // Отключить сетку для второй оси Y
                            }
                        },

                    },
                    plugins: {
                        legend: {
                            display: false
                        },
                         title: {
                            display: true,
                            text: [label],
                            font: {
                                size: 20
                            },
                            padding: {
                                top: 10,
                                bottom: 30
                            }
                        },
                        annotation: {
                            annotations: [
                                {
                                    type: 'line',
                                    scaleID: 'y',
                                    value: criticalLevel, // Критический уровень
                                    borderColor: 'red',
                                    borderWidth: 2,
                                    label: {
                                        content: `Критический уровень ${criticalLevel} м`,
                                        enabled: true,
                                        position: 'center'
                                    }
                                },
                                {
                                    type: 'line',
                                    scaleID: 'y',
                                    value: criticalLevel2, // Критический уровень
                                    borderColor: 'orange',
                                    borderWidth: 2,
                                    label: {
                                        content: `Критический уровень ${criticalLevel2} м`,
                                        enabled: true,
                                        position: 'center'
                                    }
                                }
                            ]
                        }
                    }
                }
            });
        }

        const ctx1 = document.getElementById('chart1').getContext('2d');
        const ctx2 = document.getElementById('chart2').getContext('2d');
        const ctx3 = document.getElementById('chart3').getContext('2d');
        let rpv5_value, rpv5_consumption, rpv5_pressure, rpv5_volume;
        {% if rpv5.value is None %}
            rpv5_value = null; // Присваиваем null, если значение None
        {% else %}
            rpv5_value = parseFloat('{{ rpv5.value }}'.replace(',', '.'));
            rpv5_consumption = parseFloat('{{ rpv5.consumption }}');
            rpv5_pressure = parseFloat('{{ rpv5.pressure }}');
            rpv5_volume = parseFloat('{{ rpv5.volume }}');
        {% endif %}
        let rpv6_value, rpv6_consumption,rpv6_pressure, rpv6_volume;
        {% if rpv6.value is None %}
            rpv6_value = null; // Присваиваем null, если значение None
        {% else %}
            rpv6_value = parseFloat('{{ rpv6.value }}'.replace(',', '.'));
            rpv6_consumption = parseFloat('{{ rpv6.consumption }}');
            rpv6_pressure = parseFloat('{{ rpv6.pressure }}');
            rpv6_volume = parseFloat('{{ rpv6.volume }}');
        {% endif %}
        let rpv7_value, rpv7_consumption,rpv7_pressure, rpv7_volume;
        {% if rpv7.value is None %}
            rpv7_value = null; // Присваиваем null, если значение None
        {% else %}
            rpv7_value = parseFloat('{{ rpv7.value }}'.replace(',', '.'));
            rpv7_consumption = parseFloat('{{ rpv7.consumption }}');
            rpv7_pressure = parseFloat('{{ rpv7.pressure }}');
            rpv7_volume = parseFloat('{{ rpv7.volume }}');
        {% endif %}
        createChart(ctx1, 'РПВ-5', rpv5_value, 1.09, 1.29, rpv5_consumption,rpv5_pressure, rpv5_volume);
        createChart(ctx2, 'РПВ-6', rpv6_value, 1.09, 1.29, rpv6_consumption,rpv6_pressure, rpv6_volume);
        createChart(ctx3, 'РПВ-7', rpv7_value, 1.39, 1.59, rpv7_consumption,rpv7_pressure, rpv7_volume);
    </script>
{% endblock %}