{% include 'base.html' %}
{% load static %}
{% block content %}
    <style>
        .sppv-75__block {
            margin-top: 40px;
        }

        .sppv-75 {
            background: #0f5132;
            color: #ffd85f;
            padding: 25px;
            font-size: 20px;
            width: 250px;
            text-align: center;
        }

        .chart_block {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #bdbdbd;
            padding: 20px;
            border-radius: 5px;
        }

        .chart_block canvas {
            width: 80%;
        }

        .pipe {

            background: linear-gradient(to right, #bdbdbd, white, #bdbdbd);
            border: 1px solid;
        }

        .pipe_height {
            height: 30px;
            width: 30px;
            border-bottom: none;
        }

        .pipe_corner {
            position: relative;
            width: 60px;
            height: 60px;
        }

        .pipe_corner::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border: 1px solid;
            border-top: none;
            border-right: none;
            border-radius: 0% 0% 0% 100%;
            background: linear-gradient(to right, #bdbdbd, white, #bdbdbd);
        }

        .pipe_corner::before {
            content: '';
            width: 30px;
            height: 30px;
            position: absolute;
            top: 0;
            right: 0;
            border-left: 1px solid;
            border-bottom: 1px solid;
            z-index: 2;
            background: white;
            border-radius: 0% 0% 0% 100%;
        }

        .pipe_width {
            height: 30px;
            border-left: none;
            border-right: none;
            background: linear-gradient(to bottom, #bdbdbd, white, #bdbdbd);
        }

        .additional_pipe, .additional_pipe_top {
            position: relative;
        }

        .additional_pipe:after, .additional_pipe_top:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 37%;
            background: linear-gradient(to right, #bdbdbd, white, #bdbdbd);
            height: 31px;
            width: 30px;
            border: 1px solid;
        }
        .additional_pipe:after{
            border-top: none;
        }

        .additional_pipe_top:after {
            top: auto;
            bottom: 100%;
            left: 90%;
            border-bottom: none;
        }

        .additional_pipe_top2:after {
            left: 72%;
        }

        .additional_pipe__last {
            width: 10.3%;
        }

        .pipe_corner_rotate {
            transform: rotate(180deg);
            translate: 0 30px;
        }

        .rpv__title {
            font-size: 1.2rem;
            color: #ffd85f;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .rpv__title div {
            padding: 10px 40px;
            background: #003460;
        }

        .rpv__block {
            margin-top: 30px;
        }

        .rpv__subtitle {
            background: #4f4f4f;
            color: #FFFFFF;
            padding: 5px 10px;
        }

        .rpv__subtitle__value {
            background: #FFFFFF;
            color: #0a53be;
            padding: 4px 10px;
            font-weight: 600;
        }

        .after__charts {
            align-items: end;
            justify-content: end;
            margin-top: 30px;
            margin-right: 22px;
            flex-direction: column;
        }

        .after__charts .pipe_height {
            height: 50px;
            border-top: none;
        }
        .block__pipe__connect{
            align-items: center;
        }
        .block__pipe__connect .pipe_height{
            height: 100px;
        }
        .block__pipe__connect .pipe_width{
            width: 60px;
        }
    </style>
    <div class="container mb-5">
        <div class="sppv-75__block">
            <div class="sppv-75">СППВ-75</div>
            <div class="pipe pipe_height"></div>
            <div class="row d-flex align-items-end ms-0 me-0">
                <div class="pipe_corner"></div>
                <div class="pipe pipe_width col-4 additional_pipe"></div>
                <div class="pipe pipe_width col-4 additional_pipe"></div>
                <div class="pipe pipe_width  additional_pipe__last"></div>
                <div class="pipe_corner pipe_corner_rotate"></div>
            </div>
        </div>
        <div class="d-flex">
            <div class="col rpv__block">
                <div class="rpv__title">
                    <div>РПВ 5</div>
                </div>
                <div class="chart_block">
                    <div class="">
                        <div class="border border-1 border-dark me-2">
                            <div class="rpv__subtitle">
                                Давление
                            </div>
                            <div class="rpv__subtitle__value" id="rpv5_pressure"></div>
                            <div class="rpv__subtitle">
                                Уровень
                            </div>
                            <div class="rpv__subtitle__value" id="rpv5_value"></div>
                            <div class="rpv__subtitle">
                                Объём
                            </div>
                            <div class="rpv__subtitle__value" id="rpv5_volume"></div>
                            <div class="rpv__subtitle">
                                Расход
                            </div>
                            <div class="rpv__subtitle__value" id="rpv5_consumption"></div>
                        </div>
                    </div>
                    <canvas id="chart1" width="300" height="400"></canvas>
                </div>
            </div>
            <div class="col rpv__block">
                <div class="rpv__title">
                    <div>РПВ 6</div>
                </div>
                <div class="chart_block">
                    <div class="">
                        <div class="border border-1 border-dark me-2">
                            <div class="rpv__subtitle">
                                Давление
                            </div>
                            <div class="rpv__subtitle__value" id="rpv6_pressure"></div>
                            <div class="rpv__subtitle">
                                Уровень
                            </div>
                            <div class="rpv__subtitle__value" id="rpv6_value"></div>
                            <div class="rpv__subtitle">
                                Объём
                            </div>
                            <div class="rpv__subtitle__value" id="rpv6_volume"></div>
                            <div class="rpv__subtitle">
                                Расход
                            </div>
                            <div class="rpv__subtitle__value" id="rpv6_consumption"></div>
                        </div>
                    </div>
                    <canvas id="chart2" width="300" height="400"></canvas>
                </div>
            </div>
            <div class="col rpv__block ">
                <div class="rpv__title">
                    <div>РПВ 7</div>
                </div>
                <div class="chart_block">
                    <div class="">
                        <div class="border border-1 border-dark me-2">
                            <div class="rpv__subtitle">
                                Давление
                            </div>
                            <div class="rpv__subtitle__value" id="rpv7_pressure"></div>
                            <div class="rpv__subtitle">
                                Уровень
                            </div>
                            <div class="rpv__subtitle__value" id="rpv7_value"></div>
                            <div class="rpv__subtitle">
                                Объём
                            </div>
                            <div class="rpv__subtitle__value" id="rpv7_volume"></div>
                            <div class="rpv__subtitle">
                                Расход
                            </div>
                            <div class="rpv__subtitle__value" id="rpv7_consumption"></div>
                        </div>
                    </div>
                    <canvas id="chart3" width="300" height="400"></canvas>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-end ms-0 me-0">
            <div class="col-2"></div>
            <div class="pipe_corner"></div>
            <div class="pipe pipe_width col-4 additional_pipe_top "></div>
            <div class="pipe pipe_width col-5 additional_pipe_top additional_pipe_top2"></div>
            <div class="pipe_corner pipe_corner_rotate"></div>
        </div>
        <div class="d-flex after__charts">
            <div class="pipe pipe_height"></div>
            <div class="d-flex block__pipe__connect">
                <div class="">
                    <div class="border border-1 border-dark">
                        <div class="rpv__subtitle">
                            Расход на ЦУВС-3
                        </div>
                        <div class="rpv__subtitle__value" id="rpv7_pressure">1227,4 м3/ч</div>
                    </div>
                </div>
                <div class="pipe pipe_width"></div>
                <div class="pipe pipe_height"></div>
            </div>
            <div class="d-flex block__pipe__connect">
                <div class="">
                    <div class="border border-1 border-dark">
                        <div class="rpv__subtitle">
                            Расход на ЦУВС-4
                        </div>
                        <div class="rpv__subtitle__value" id="rpv7_pressure">640,8 м3/ч</div>
                    </div>
                </div>
                <div class="pipe pipe_width"></div>
                <div class="pipe pipe_height"></div>
            </div>
            <div class="d-flex block__pipe__connect">
                <div class="">
                    <div class="border border-1 border-dark">
                        <div class="rpv__subtitle">
                            Расход на ТЭЦ-1
                        </div>
                        <div class="rpv__subtitle__value" id="rpv7_pressure">124,3 м3/ч</div>
                    </div>
                </div>
                <div class="pipe pipe_width"></div>
                <div class="pipe pipe_height"></div>
            </div>
            <div class="d-flex block__pipe__connect">
                <div class="">
                    <div class="border border-1 border-dark">
                        <div class="rpv__subtitle">
                            Расход на Пром. зону
                        </div>
                        <div class="rpv__subtitle__value" id="rpv7_pressure">114,2 м3/ч</div>
                    </div>
                </div>
                <div class="pipe pipe_width"></div>
                <div class="pipe pipe_height"></div>
            </div>
            <div class="d-flex block__pipe__connect">
                <div class="">
                    <div class="border border-1 border-dark">
                        <div class="rpv__subtitle">
                            СЭЗ МорПорт Актау
                        </div>
                        <div class="rpv__subtitle__value" id="rpv7_pressure">счётчик</div>
                    </div>
                </div>
                <div class="pipe pipe_width"></div>
                <div class="pipe pipe_height"></div>
            </div>
            <div class="d-flex block__pipe__connect">
                <div class="">
                    <div class="border border-1 border-dark">
                        <div class="rpv__subtitle">
                            Актау Турные уй<br> приозерный 1,2,3
                        </div>
                        <div class="rpv__subtitle__value" id="rpv7_pressure">счётчик</div>
                    </div>
                </div>
                <div class="pipe pipe_width"></div>
                <div class="pipe pipe_height"></div>
            </div>
            <div class="d-flex block__pipe__connect">
                <div class="">
                    <div class="border border-1 border-dark">
                        <div class="rpv__subtitle">
                            Каз.Транс.Газ Аймак
                        </div>
                        <div class="rpv__subtitle__value" id="rpv7_pressure">счётчик</div>
                    </div>
                </div>
                <div class="pipe pipe_width"></div>
                <div class="pipe pipe_height"></div>
            </div>
            <div class="d-flex block__pipe__connect">
                <div class="">
                    <div class="border border-1 border-dark">
                        <div class="rpv__subtitle">
                            К.Эк.И
                        </div>
                        <div class="rpv__subtitle__value" id="rpv7_pressure">счётчик</div>
                    </div>
                </div>
                <div class="pipe pipe_width"></div>
                <div class="pipe pipe_height"></div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.0.0"></script>
    <script>
        // Плагин для закругления верхушек столбиков
        const roundedBarsPlugin = {
            id: 'roundedBars',
            beforeDraw: chart => {
                const {ctx} = chart;
                ctx.save();
                chart.getDatasetMeta(0).data.forEach((bar, index) => {
                    const radius = 20;
                    const {x, y, width, height} = bar;
                    ctx.beginPath();
                    ctx.moveTo(x - width / 2, y);
                    ctx.lineTo(x - width / 2, y + height - radius);
                    ctx.quadraticCurveTo(x - width / 2, y + height, x - width / 2 + radius, y + height);
                    ctx.lineTo(x + width / 2 - radius, y + height);
                    ctx.quadraticCurveTo(x + width / 2, y + height, x + width / 2, y + height - radius);
                    ctx.lineTo(x + width / 2, y);
                    ctx.fillStyle = bar.options.backgroundColor;
                    ctx.fill();
                    ctx.stroke();
                });
                ctx.restore();
            }
        };

        Chart.register(roundedBarsPlugin);

        const createChart = (ctx, label, data, criticalLevel, criticalLevel2, consumption, pressure, volume) => {
            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [label],
                    datasets: [{
                        label: 'Уровень воды (м)',
                        data: [data],
                        backgroundColor: data < criticalLevel ? 'rgba(255, 99, 132, 0.5)' : data < criticalLevel2 ? 'rgba(255,194,7,0.5)' : 'rgba(54, 162, 235, 0.5)',
                        borderWidth: 1,
                        borderSkipped: false,
                    }]
                },
                options: {
                    responsive: false,
                    scales: {
                        x: {
                            beginAtZero: true,
                            barPercentage: 0.5,
                        },
                        y: {
                            beginAtZero: true,
                            max: 5,
                            ticks: {
                                stepSize: 1,
                                callback: function (value, index, values) {
                                    return value + ' м'; // Метки по высоте
                                }
                            }
                        },

                    },
                    plugins: {
                        legend: {
                            display: false
                        },
                        title: {
                            display: false,
                            text: [label],
                            font: {
                                size: 20
                            },
                        },
                        annotation: {
                            annotations: [
                                {
                                    type: 'line',
                                    scaleID: 'y',
                                    value: criticalLevel, // Критический уровень
                                    borderColor: 'red',
                                    borderWidth: 2,
                                    label: {
                                        content: `Критический уровень ${criticalLevel} м`,
                                        enabled: true,
                                        position: 'center'
                                    }
                                },
                                {
                                    type: 'line',
                                    scaleID: 'y',
                                    value: criticalLevel2, // Критический уровень
                                    borderColor: 'orange',
                                    borderWidth: 2,
                                    label: {
                                        content: `${criticalLevel2} м`,
                                        enabled: true,
                                        position: 'center'
                                    }
                                }
                            ]
                        }
                    }
                }
            });
        }

        const ctx1 = document.getElementById('chart1').getContext('2d');
        const ctx2 = document.getElementById('chart2').getContext('2d');
        const ctx3 = document.getElementById('chart3').getContext('2d');
        let rpv5_value, rpv5_consumption, rpv5_pressure, rpv5_volume;
        {% if rpv5.value is None %}
            rpv5_value = null; // Присваиваем null, если значение None
        {% else %}
            rpv5_value = parseFloat('{{ rpv5.value }}'.replace(',', '.'));
            rpv5_consumption = parseFloat('{{ rpv5.consumption }}'.replace(',', '.'));
            rpv5_pressure = parseFloat('{{ rpv5.pressure }}'.replace(',', '.'));
            rpv5_volume = parseFloat('{{ rpv5.volume }}'.replace(',', '.'));
            let rpv5_pressure_block = document.getElementById('rpv5_pressure');
            let rpv5_value_block = document.getElementById('rpv5_value');
            let rpv5_volume_block = document.getElementById('rpv5_volume');
            let rpv5_consumption_block = document.getElementById('rpv5_consumption');
            if (rpv5_pressure_block && rpv5_value_block && rpv5_volume_block) {
                rpv5_pressure_block.textContent = rpv5_pressure + ''
                rpv5_value_block.textContent = rpv5_value + ''
                rpv5_volume_block.textContent = rpv5_volume + ''
                rpv5_consumption_block.textContent = rpv5_consumption + ''
            }
        {% endif %}
        let rpv6_value, rpv6_consumption, rpv6_pressure, rpv6_volume;
        {% if rpv6.value is None %}
            rpv6_value = null; // Присваиваем null, если значение None
        {% else %}
            rpv6_value = parseFloat('{{ rpv6.value }}'.replace(',', '.'));
            rpv6_consumption = parseFloat('{{ rpv6.consumption }}'.replace(',', '.'));
            rpv6_pressure = parseFloat('{{ rpv6.pressure }}'.replace(',', '.'));
            rpv6_volume = parseFloat('{{ rpv6.volume }}'.replace(',', '.'));
            let rpv6_pressure_block = document.getElementById('rpv6_pressure');
            let rpv6_value_block = document.getElementById('rpv6_value');
            let rpv6_volume_block = document.getElementById('rpv6_volume');
            let rpv6_consumption_block = document.getElementById('rpv6_consumption');
            if (rpv6_pressure_block && rpv6_value_block && rpv6_volume_block) {
                rpv6_pressure_block.textContent = rpv6_pressure + ''
                rpv6_value_block.textContent = rpv6_value + ''
                rpv6_volume_block.textContent = rpv6_volume + ''
                rpv6_consumption_block.textContent = rpv6_consumption + ''
            }
        {% endif %}
        let rpv7_value, rpv7_consumption, rpv7_pressure, rpv7_volume;
        {% if rpv7.value is None %}
            rpv7_value = null; // Присваиваем null, если значение None
        {% else %}
            rpv7_value = parseFloat('{{ rpv7.value }}'.replace(',', '.'));
            rpv7_consumption = parseFloat('{{ rpv7.consumption }}'.replace(',', '.'));
            rpv7_pressure = parseFloat('{{ rpv7.pressure }}'.replace(',', '.'));
            rpv7_volume = parseFloat('{{ rpv7.volume }}'.replace(',', '.'));
            let rpv7_pressure_block = document.getElementById('rpv7_pressure');
            let rpv7_value_block = document.getElementById('rpv7_value');
            let rpv7_volume_block = document.getElementById('rpv7_volume');
            let rpv7_consumption_block = document.getElementById('rpv7_consumption');
            if (rpv7_pressure_block && rpv7_value_block && rpv7_volume_block) {
                rpv7_pressure_block.textContent = rpv7_pressure + ''
                rpv7_value_block.textContent = rpv7_value + ''
                rpv7_volume_block.textContent = rpv7_volume + ''
                rpv7_consumption_block.textContent = rpv7_consumption + ''
            }
        {% endif %}
        createChart(ctx1, 'РПВ-5', rpv5_value, 1.09, 1.29, rpv5_consumption, rpv5_pressure, rpv5_volume);
        createChart(ctx2, 'РПВ-6', rpv6_value, 1.09, 1.29, rpv6_consumption, rpv6_pressure, rpv6_volume);
        createChart(ctx3, 'РПВ-7', rpv7_value, 1.39, 1.59, rpv7_consumption, rpv7_pressure, rpv7_volume);
    </script>
{% endblock %}